{% extends "ChillPersonBundle::layout.html.twig"  %}

{% set activeRouteKey = '' %}
{% set person = element.person %}

{% block title  'Remove resource'|trans %}

{% block personcontent %}

{{ include('ChillMainBundle:Util:confirmation_template.html.twig',
    {
        'title'             : 'Remove resource'|trans,
        'confirm_question'  : 'Are you sure you want to remove the ressource "%type%" associated to "%name%" ?'|trans({ '%name%' : person.firstname ~ ' ' ~ person.lastname, '%type%': element.type|budget_element_type_display('resource') } ),
        'cancel_route'      : 'chill_budget_elements_index',
        'cancel_parameters' : { 'id' : element.person.id },
        'form'              : delete_form
    } ) }}

{% endblock %}
