{% extends "@ChillPerson/layout.html.twig" %}

{% set activeRouteKey = '' %}
{% set title = 'Edit Resource for %name%'|trans({ '%name%' : person.firstName ~ " " ~ person.lastName } ) %}
{% block title title %}

{% block personcontent %}
<h1>{{ title }}</h1>

{{ form_start(form) }}

{{ form_row(form.type) }}
{{ form_row(form.amount) }}
{{ form_row(form.comment) }}
{{ form_row(form.startDate) }}
{{ form_row(form.endDate) }}

<ul class="record_actions sticky-form-buttons">
    <li class="cancel">
        <a href="{{ path("chill_budget_elements_index", { 'id': person.id } ) }}" class="sc-button bt-cancel">
           {{ 'Back to the list'|trans }}
        </a>
    </li>
    <li>
        {{ form_widget(form.submit, { 'attr' : { 'class': 'sc-button bt-create' }, 'label': 'Edit' } ) }}
    </li>
</ul>
       
{{ form_end(form) }}
{% endblock %}
